@model IEnumerable<QualityHat.Models.OrderDetail>

@{
    ViewData["Title"] = "OrderConfirmed";
}

<h3>Shopping Bag</h3>

<hr />

<p></p>
<div class="card text-center">
	<div class="card-header">
		Haere mai / Nau mai 
	</div>
	<div class="card-body">
		<h4 class="card-title">Empty Shopping Bag</h4>
		<p class="card-text">Please take a look at our latest version!</p>
		@*Fix tricky Domain Problem*@
		<a href="/mengc06/asp_assignment/" class="btn btn-primary">More Hats</a>
	</div>
	<div class="card-footer text-muted">

	</div>
</div>