@model QualityHat.Models.Order

@{
    ViewData["Title"] = "ShoppingBag";
}

<h3>Shopping Bag</h3>

<div>
	@await Component.InvokeAsync("ShoppingBag", new { order = Model })
</div>
<div align="right">
    <a asp-controller="MemberOrders" asp-action="Purchased" asp-route-id="@Model.OrderId" class="badge badge-dark">Check Out</a>
</div>
