@model IEnumerable<QualityHat.Models.OrderDetail>

@{
    ViewData["Title"] = "OrderConfirmed";
}

<h3>OrderConfirmed</h3>


<div class="card text-center">
	<div class="card-header">
		Thank you!
	</div>
	<div class="card-body">
		<h4 class="card-title">Order Submited</h4>
		<p class="card-text">Your order is in progress, thank you for chosing Quality Hats</p>
		<a href="/MemberOrders" class="btn btn-primary">Check order for more detail</a>
	</div>
	<div class="card-footer text-muted">

	</div>
</div>
