@{
    ViewData["Title"] = "Page Not Found";
}

<br>
<div class="card text-center">
	<div class="card-header">
        <br>
	</div>
	<div class="card-body">
		<h4 class="card-title">The page you’re looking for can’t be found.</h4>
		<p class="card-text">Please see our home page</p>
		<a href="/" class="btn btn-primary">More Hats</a>
	</div>
	<div class="card-footer text-muted">

	</div>
</div>