@model QualityHat.Models.ShoppingCartViewModels.ShoppingCartViewModel

@{
	ViewData["Title"] = "Default";
	var i = 0;
	var j = 1;
}
@foreach (var item in Model.CartItems)
{
	i += 1;
}

	
@if (@Model.CartItems.Count > 0)
{
	<h5><span class="glyphicon glyphicon glyphicon-shopping-cart"></span> Your Currently Selected:</h5>
			<div class="row">
					<div class="col-sm-4 col-md-3">
						<h5 class="display-4">Hat</h5>
					</div>
					<div class="col-sm-2 col-md-2">
						<h5 class="display-4">Quantity</h5>
					</div>
					<div class="col-sm-2 col-md-5">
						<h5 class="display-4">Price</h5>
					</div>
					<div class="col-sm-2 col-md-1">
					</div>
					<div class="col-sm-2 col-md-1">
					</div>
			</div>
			@foreach (var item in Model.CartItems)
			{
				<div class="row">
					<div class="col-sm-4 col-md-3">
						@item.Hat.Name
					</div>
					<div class="col-sm-2 col-md-2">@item.Count
						<a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Hat.HatID">
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
					<div class="col-sm-2 col-md-5">
						$@item.Hat.Price
					</div>

					@if(j == i-1)
					{
						<div class="col-sm-2 col-md-1" align="right">
							<strong>GST</strong>
						</div>
						<div class="col-sm-2 col-md-1" align="right">
							<strong>Total</strong>
						</div>
					} else if (j == i) {
						<div class="col-sm-2 col-md-1" align="right">
							$@Model.CartGST
						</div>
						<div class="col-sm-2 col-md-1" align="right">
							$@Model.CartTotal
						</div>
					} else {
						<div class="col-sm-2 col-md-1" align="right">
						</div>
						<div class="col-sm-2 col-md-1" align="left">
						</div>
					}
				</div>
				j += 1;
			}
<hr />
<div class="row">
	<div class="col-sm-6 col-xs-6" align="left">
		<form asp-action="EmptyCart" asp-controller="ShoppingCart"><button class="btn btn-default btn-sm">Clear Cart</button></form>
	</div>
	<div class="col-sm-6 col-xs-6" align="right">
		<form asp-action="AddToBag" asp-controller="MemberOrders"><button class="btn btn-primary btn-sm">Add to Bag</button></form>
	</div>
</div>
}
