body {
    padding-bottom: 100px;
}

footer { 
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: #000000;
    height: 30px;
    line-height:30px
}

#Category {
    height: 40px;
    line-height: 40px;
}

#search {
    height: 40px;
    line-height: 40px;
    padding-right: 30px;
}

#headline {
    height: 40px;
    line-height:40px
}