footer { 
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: #000000;
    height: 30px;
    line-height:30px
}

#search {
    height: 63px;
    line-height: 63px;
    padding-right: 30px;
}